<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Employee Management App</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="container">
      <h1 align="center">My Employee Management App</h1>
      <% if(locals.messages) { %>
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Error</h4>
        <p><%- messages %></p>
        <hr />
      </div>
      <% } %>
      <div class="row shadow p-3 mb-5 bg-white rounded my-4">
        <div class="col-6">
          <h2>Update Employee</h2>
          <form method="post" action="/updateemployee">
            <div class="form-group">
              <label for="_id">Employee ID</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter Employee ID"
                name="_id"
                <%if(locals.getemployeebyid){%><%=disabled%><%}%>
                value="<%if(locals.getemployeebyid){%><%=getemployeebyid._id%><%}%>"
              />
            </div>
            <div class="form-group">
              <label for="Name">Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Enter Your Name"
                name="Name"
                value="<%if(locals.getemployeebyid){ %><%=getemployeebyid.Name%><%}%>"
              />
            </div>
            <div class="form-group">
              <label for="PhoneNo">Phone No</label>
              <input
                type="text"
                class="form-control"
                placeholder="Phone No"
                name="PhoneNo"
                value="<%if(locals.getemployeebyid){ %><%=getemployeebyid.PhoneNo%><%}%>"
              />
            </div>
            <div class="form-group">
              <label for="Department">Department Name</label>
              <input
                type="text"
                class="form-control"
                placeholder="Department name"
                name="Department"
                value="<%if(locals.getemployeebyid){ %><%=getemployeebyid.Department%><%}%>"
              />
            </div>
            <div class="form-group">
              <label for="age">Age</label>
              <input
                type="text"
                class="form-control"
                placeholder="Age"
                name="Age"
                value="<%if(locals.getemployeebyid){ %><%=getemployeebyid.Age%><%}%>"
              />
            </div>
            <div class="form-group">
              <label for="Salary">Salary</label>
              <input
                type="text"
                class="form-control"
                placeholder="Salary"
                name="Salary"
                value="<%if(locals.getemployeebyid){ %><%=getemployeebyid.Salary%><%}%>"
              />
            </div>
            <button
              type="submit"
              class="btn btn-outline-primary btn-lg btn-block"
            >
              Update Employee
            </button>
          </form>
        </div>
        <div class="col-6 my-5">
          <div class="form-group" style="height: 44%">
            <label for="comment">API Request :</label>
            <textarea
              class="form-control"
              rows="5"
              style="height: 100%"
              disabled
            >
<% if(locals.UpdateRequest) { %> <%- UpdateRequest %> <% } %></textarea
            >
          </div>
          <div class="form-group my-5" style="height: 40%">
            <label for="comment">API Response :</label>
            <textarea
              class="form-control"
              rows="5"
              style="height: 100%"
              disabled
            >
<% if(locals.UpdateResponse) { %> <%- UpdateResponse %> <% } %></textarea
            >
          </div>
          <div class="row my-3">
            <div class="col-6">
              <a
                href="/"
                class="btn btn-outline-primary btn-block"
                role="button"
                ><i class="fa fa-list" aria-hidden="true"></i> Employee List</a
              >
            </div>
            <div class="col-6">
              <a
                href="/addemployee"
                class="btn btn-outline-primary btn-block"
                role="button"
              >
                <i class="fa fa-plus" aria-hidden="true"></i> Add Employee</a
              >
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
